.hello {
    color: red;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #main{
    resize: both;
    display: grid;
    grid-row: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }

  #main > div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }

  #currentCont{
    grid-column: 1 / -1;
  }